h1 {
    background-color: rgb(34, 34, 34);
    font-size: 45px;
    font-style:italic;
}
aside{
    background-color: beige;
}

.tabela {
    background-color: aquamarine;
}

img {
    border: 2px solid rgb(250, 11, 11);
    border-radius: 8px;
    padding: 5px;
}